# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/

# macOS
.DS_Store
**/.DS_Store

# Java build output
target/
**/target/
out/
**/out/

# JVM dumps
*.hprof

# Logs
*.log

# Ignore Maven/Gradle cache
.mvn/
.gradle/
